@using WebAppMVC.Services
@using WebAppMVC.Components
@*@{
    Layout = "_Advanced";
}*@


@model List<CatViewModel>

@inject ICustomViewData customViewData

@{
    ViewData["Name"] = "Ivaylo";
    ViewData["Title"] = "My Cats";

    ViewData["Html"] = "<h1 style='color: red;'> Real HTML</h1>";
}



@*LINK TO ACTION WITH TAG*@

<a asp-controller="Cats" asp-action="Create">Create Cat</a>



@section Styles{
    <link href="~/css/cats.css rel="stylesheet" />
}


<h1>
    All Cats - @(Model.Count * 10)

    @(Model.Any() ? Model.Count : "No cats")
</h1>




@customViewData.GetViewData()



@if (!Model.Any())
{
    <h2>No Cats!</h2>
}



<h2> Current year - @DateTime.UtcNow.Year</h2>

@Html.Raw(@ViewData["Html"])



<ul class="cats">
    @foreach(var cat in Model)
    {
        <li>
            @cat.Name  - @cat.Age
        </li>
    }
</ul>

@ViewData["Name"]

@section Scripts {
    <script>
    document.getElementsByClassName('cats')[0].innerHTML = '<li>Changed by the power of JS!</li>'
</script>
}



@*PARTIAL VIEW*@

@foreach(var cat in Model)
{
    <partial name="_Cat" model="cat"/>
}



@*VIEW COMPONENTS*@

@*@await Component.InvokeAsync(typeof(MyViewComponent))*@

<vc:custom-component name="Ivaylo"></vc:custom-component>